---
const { brand_name, image, description } = Astro.props
---
<div class="flex-col space-y-5 bg-white border-x border-y border-blue-100 p-4">
    <div class="bg-red-500 h-48 w-80"></div>
    <div class="text-xl font-semibold">{ brand_name }</div>
    <div class="font-light">{ description }</div>
    <div class="text-sm font-medium">Full Case Study ></div>
</div>