---
const { title, description } = Astro.props
---
<div class="flex-col space-y-2">
    <div class="bg-red-500 h-64"></div>
    <div class="text-xl font-semibold">{ title }</div>
    <div class="font-light">{ description }</div>
</div>