---
const {

    link,
    title,

} = Astro.props
---
<a href={ link }>
    <button class="bg-yellow-400 px-6 py-3 text-black text-sm hover:bg-green-700 hover:text-white transition duration-500">{ title }</button>
</a>
