---
import Footer from "../../components/common/Footer.astro"
import Header from "../../components/common/Header.astro"
import Head from "../../components/common/Head.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header />
		<Footer/>
	</body>
</html>
