---
import Footer from "../../components/common/Footer.astro"
import Header from "../../components/common/Header.astro"
import Masthead from "../../components/home/Masthead.astro"
import Title from "../../components/atom/Title.astro"
import "../../styles.css"
import TextOverImage from "../../components/services/TextOverImage.astro"
import ImageOverText from "../../components/services/ImageOverText.astro"
import Button from "../../components/atom/Button.astro"
import ImageOverTextS from "../../components/services/ImageOverTextS.astro"
import FinePrint from "../../components/atom/FinePrint.astro"
import Text3xl from "../../components/atom/Text3xl.astro"
import Title1Para1 from "../../components/services/Title1Para1.astro"
import CaseStudy from "../../components/services/CaseStudy.astro"
import RequestPilot from "../../components/home/RequestPilot.astro"
import FAQs from "../../components/services/FAQs.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header/>
		<div class="flex-col py-24 bg-[url('https://blupp.b-cdn.net/openthrive/bg-dark.svg')] bg-top">
			<!-- SECTION-1 -->
            <div class="flex-col space-y-6 mx-20 w-1/2">
                <div class="text-zinc-50 text-5xl font-bold">Custom Website Design & Development Service</div>
                <div class="text-zinc-50 text-2xl">We transform your website into a digital experience that drives people to the sales pipeline. Custom Website design & developed service by a team of marketers, designers & developers.</div>
				<div class="text-yellow-300 decoration-dashed">Request A Proposal</div>
            </div>
        </div>
		<!-- SECTION-2 -->
		<div class="container max-w-7xl mx-auto">
			<div class="flex-col text-center space-y-5 py-24 w-1/2 mx-auto">
				<div>More Than Traffic & Leads</div>
				<div class="text-3xl font-bold">Website For Omnichannel Engagement To Drive Marketing & Sales At Scale</div>
				<div>Every single website that we design & develop has ONE purpose in mind - Maximize your current marketing & sales results, thus skyrocketing revenue.</div>
				<div class="flex justify-center">
					<Button
						title="Request A Proposal"
					/>
				</div>
			</div>
			<div class="flex space-x-20">
				<TextOverImage
					brand_name="Crush Level Beauty"
					text="Fresh & Modern Design"
					description="We aim to create fabulous experiences for your prospects when they land on your website for the first time, and even after becoming your customers."
				/>
				<div class="">
				<ImageOverText
					brand_name="Blazing Fast Website"
					text="App-Like Experience"
					description="Brain picks up patterns. We design super light websites that feel like a personalized space for your buyers, just like when they use apps on smartphones."
				/>
				</div>
			</div>
			<div class="flex gap-20 py-16">
				<TextOverImage
					brand_name="From Ground Zero"
					text="Redesign To Reimagine"
					description="You deserve authenticity. Like your business, your website needs to be unique. We present your business in an exceptional way, second to none."
				/>
				<ImageOverText
					brand_name="Impossible To Crack Security"
					text="Static Edge Distribution"
					description="Keeping the digital front of your business safe and secure starts right from your website. We make sure no one can break into your safe space."
				/>
			</div>
			<div class="grid grid-cols-3 gap-10 py-24">
				<ImageOverTextS
					title="Static Edge Distribution"
					description="Keeping the digital front of your business safe and secure starts right from your website. We make sure no one can break into your safe space."
				/>
				<ImageOverTextS
					title="SEO By Nature"
					description="Getting the search engines to respond is not an external job. We design websites that are inherently SEO-friendly, attracting the right kind of humans to your solutions."
				/>
				<ImageOverTextS
					title="Scale To Any Limit"
					description="Our website development process is defined by its scalability. Your website is never a one-time thing. We bring you an easy-to-expand system, that helps you evolve your website forever."
				/>
			</div>
		</div>
		<!-- SECTION-3 -->
		<div class="bg-black text-white pb-24">
			<div class="container max-w-7xl mx-auto">
				<div class="flex-col text-center space-y-5 pt-24 pb-8 w-1/2 mx-auto">
					<div>Technology And Stacks</div>
					<div class="text-3xl font-bold">Present & Future Proof Website</div>
					<div>Transform old website tech with latest and future proof stacks to get more ROI on every penny you spend on marketing & sales.</div>
					<div class="text-yellow-300 decoration-dashed">Request A Proposal</div>
				</div>
				<div class="flex space-x-20">
					<TextOverImage
						brand_name="Small & Medium Website"
						text="WordPress Or Hubspot CMS"
						description="If your website is under 25 unique pages, we use custom WordPress design & development. Modern and sales-ready fast and secure website to support omnichannel engagement."
					/>
					<ImageOverText
						brand_name="Enterprise Website"
						text="Headless Experience"
						description="if your website has or would have 25+ unique pages and dynamic content to serve at scale, we pick Headless CMS & serverless system to build a fortune grade website. This is the present & also the future."
					/>
				</div>
			</div>
		</div>
		<!-- SECTION-4 -->
		<div class="container max-w-7xl mx-auto">
			<div class="flex-col space-y-5 py-24 w-3/5">
				<div>Results Oriented</div>
				<Title
					text="Transform Website Design To Maximize Marketing ROI"
					dark="true"
				/>
				<div class="text-2xl font-extralight">Bad website design not only pushes your business back. But also let your competitors win deals that you should have. It is making your sales pipeline journey a trip that never ends.</div>
				<div>
					<Button
						title="Request A Proposal"
					/>
				</div>
			</div>
		</div>
		<!-- SECTION-5 -->
		<div class="container max-w-7xl mx-auto">
		<div class="flex mb-24 gap-8">
			<div class="w-5/12">
				<Title1Para1
					title="Upgrade for real-time GTM Engine"
					description="You want to expand your company's business, but your current systems are not capable of handling the speed. We help you get out of this mess and go to market without any technical limitations."
				/>
				<Title1Para1
					title="Multichannel to Omni-Presence"
					description="Handling multiple disintegrated tools for your marketing and sales, not only results in low efficiency but also loss of data while trying to maintain communication with prospects. We build your website on Headless CMS so that your engagement system becomes omnichannel, increasing your ability to reach a bigger audience and keep all your data safe and secure for smoother communication."
				/>
				<Title1Para1
					title="Drive Marketing and Sales"
					description="Your website is not supposed to be a brochure-in-the-browser. It has to enable marketing so that your marketing can support your sales. And that directly impacts your sales pipeline and sales closing time."
				/>
			</div>
			<div class="bg-red-500 h-[55vh] w-7/12"></div>
		</div>
		</div>
		<!-- SECTION-6 -->
		<div class="bg-zinc-100">
			<div class="container max-w-7xl mx-auto py-24">
				<div class="text-center pb-4">Case Studies</div>
				<div class="text-center">
					<Title
						text="See Our Work & Delivery."
						dark={ true }
					/>
				</div>
				<div class="grid grid-cols-3 gap-10 py-12">
					<CaseStudy
						brand_name="Vecmocon Technologies"
						description="Vecmocon had some really smart products around EV battery technology, but their website was unable to convey the right message"
					/>
					<CaseStudy
						brand_name="Prad Automotive"
						description="Transformation of an outdated website into two separate functions - Complete B2B marketing project with B2C retail integration"
					/>
					<CaseStudy
						brand_name="Repair Pricer"
						description="This Real Estate SaaS company had the coolest product in the industry but saw a slow growth rate. A combination"
					/>
				</div>
				<div class="bg-red-500 h-28 w-2/3 mx-auto my-6"></div>
			</div>
		</div>
		<!-- SECTION-7 -->
		<RequestPilot 
			title="Ready To Transform Your Website For Marketing & Sales?"
			description="Redesign your website to maximize the results and ROI from marketing & sales. Get more traffic & leads without running hight budget ads."
			button_title="Request A Proposal"	 
			button_link=""
			image="https://blupp.b-cdn.net/openthrive/Openthrive-Agency-Solutions-Vertika-Nigam-min-1.png?quality=75"
			dark=""
		/>
		<!-- SECTION-8 -->
		<FAQs
			dark="true"
			question1="What services does this website design agency provide?"
			question2="How much does our website development services cost?"
			question3="What is the difference between B2C and B2B websites?"
			question4="Why a business should redesign their website?"
		/>
		<Footer/>
	</body>
</html>
