---
import Footer from "../components/common/Footer.astro"
import Header from "../components/common/Header.astro"
import CaseStudy from "../components/case-studies/index.astro"
import "../styles.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
        <CaseStudy />
		<Footer/>
	</body>
</html>
