---
import Footer from "../components/common/Footer.astro"
import Header from "../components/common/Header.astro"
import CaseStudy from "../components/case-studies/index.astro"
import "../styles.css"
import Head from "../components/common/Head.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header />
        <CaseStudy />
		<Footer/>
	</body>
</html>
