---
import Masthead from "../components/home/Masthead.astro"
import FeaturedServices from "../components/home/FeaturedServices.astro"
import Clients from "../components/home/Clients.astro"
import RequestPilot from "../components/home/RequestPilot.astro"
import Footer from "../components/common/Footer.astro"
import Head from "../components/common/Head.astro"
import "../styles.css"
---

<html lang="en">
	<Head />
	<body>
		<Masthead />
		<FeaturedServices />
		<Clients />
		<RequestPilot />
		<Footer/>
	</body>
</html>
