<section class="py-20 max-w-7xl mx-auto container bg-[url('https://blupp.b-cdn.net/openthrive/bg-light.svg')] bg-center bg-top">
    <div class="flex-cols items-center justify-center w-full">
        <div class="text-center">Featured Services</div>
        <div class="font-bold text-center text-4xl mt-4">What We Do & Deliver</div>
    </div>
    <div class="grid grid-cols-2 gap-12 py-10 items-center">
        <div>
            <div>Sales-Driven Marketing</div>
            <div>B2B Marketing Solutions</div>
            <div>B2B marketing services that catalyze your sales team to close deals faster & perform beyond the revenue goals. </div>
            <div>Explore This Further</div>
            <div class="mt-4">
                <img
                    src="https://blupp.b-cdn.net/openthrive/b2b-marketing.svg"
                    class="w-full h-full object-fit"
                    alt=""
                />
            </div>
        </div>
        <div>
            <div>
                <img
                    src="https://blupp.b-cdn.net/openthrive/b2b-websites.svg"
                    class="w-full h-full object-fit"
                    alt=""
                />
            </div>
            <div class="mt-4">
                <div>Headless Experience</div>
                <div>B2B Website & Beyond</div>
                <div>Website design and development service for content distribution at scale. Strategically built to drive marketing & sales at scale. </div>
                <div>Explore This Further</div>
            </div>
        </div>
    </div>
</section>
