---
import Button from "../atom/Button.astro"
import H1 from "../atom/H1.astro"
---
<section class="bg-[url('https://blupp.b-cdn.net/openthrive/bg-dark.svg')] bg-center bg-top bg-black">
    <div class="max-w-7xl mx-auto container py-4">
        <div class="flex justify-between">
            <div class="flex items-center gap-6">
                <a href="/">
                    <img
                        src="https://blupp.b-cdn.net/openthrive/logo-light.svg"
                        class="w-40 object-fit"
                    />
                </a>
                <a href="/services/b2b-marketing-solutions">
                    <div class="text-white bg-black px-4 py-2 rounded hover:bg-zinc-900 duration-300">B2B Marketing</div>
                </a>
                <a href="/services/website-design-development">
                    <div class="text-white bg-black px-4 py-2 rounded hover:bg-zinc-900 duration-300">Website Design and Development</div>
                </a>
                <a href="/case-studies">
                    <div class="text-white bg-black px-4 py-2 rounded hover:bg-zinc-900 duration-300">Case Studies</div>
                </a>
            </div>
            <div class="flex items-center gap-4">
                <a href="/about">
                    <div class="text-white bg-black px-4 py-2 rounded hover:bg-zinc-900 duration-300">About</div>
                </a>
                <a href="/contact">
                    <div class="text-white bg-black px-4 py-2 rounded hover:bg-zinc-900 duration-300">Contact</div>
                </a>
            </div>
        </div>
        <div class="py-16 grid grid-cols-4">
            <div class="col-span-3 grid gap-8">
                <div class="text-zinc-50">100% B2B Marketing Agency</div>
                <H1
                    text={"If Revenue Growth Is Your " + "Challenge, We Accept That"}
                />
                <div class="text-zinc-50 text-2xl">Openthrive is a marketing partner for B2B companies to drive sales & revenue growth at scale. B2B Marketing strategy with 100% implementation. In B2B, this email, that post, and such targeting never work. That's what we fix.</div>
                <Button
                    title="Learn More How"
                    link="/services/b2b-marketing-solutions/"
                />
            </div>
        </div>
    </div>
</section>
