---
import Button from "../atom/Button.astro"
import Title from "../atom/Title.astro";
const { title, image, description, button_title, button_link ,dark } = Astro.props
---
<section class="bg-black bg-[url('https://blupp.b-cdn.net/openthrive/bg-dark.svg')] bg-top">
    <div class="max-w-7xl mx-auto container py-20 grid gap-4">
        <div class="grid grid-cols-3 gap-4">
            <div class="col-span-2 gap-8 flex flex-col">
                <Title
                    text={ title }
                    dark={ false }
                />
                <p class="text-white text-2xl">{ description }</p>
                <Button
                    title={ button_title }
                    link={ button_link }
                />
            </div>
            <div class="">
                <img
                    src="https://blupp.b-cdn.net/openthrive/Openthrive-Agency-Solutions-Vertika-Nigam-min-1.png?quality=75"
                    class="w-full h-full object-fit"
                />
            </div>
        </div>
    </div>
</section>
