---
import { FOOTER } from "../../content/footer"
import FinePrint from "../atom/FinePrint.astro"
---
<footer class="bg-zinc-200">
    <div class="py-20 max-w-7xl mx-auto container grid grid-cols-5 gap-10">
        <div class="col-span-2">
            <a href="/">
                <img
                    src="https://blupp.b-cdn.net/openthrive/logo-dark.svg"
                    class="w-40 object-fit"
                />
            </a>
            <div class="py-4">
                <FinePrint
                    text="More than 97% of B2B companies use marketing strategies and websites built for B2C. That’s why they don’t see the value and ROI even after doing everything. B2B marketing & website are different, this is what Openthrive solves."
                />
            </div>
        </div>
        {

            FOOTER.links.map( ( item ) => {

                return (
                    <div class="grid">
                        <h6>{ item.heading }</h6>
                        <div class="grid gap-2 mt-4">
                        {

                            item.links.map( ( link ) => {

                                return (

                                    <div>{ link.text }</div>

                                )

                            })

                        }
                        </div>
                    </div>
                )

            })

        }
    </div>
    <div class="flex justify-between max-w-7xl mx-auto container py-4">
        <FinePrint
            text="Copyright © All Rights Reserved. 2023"
        />
        <div class="flex gap-4">
            <a href="/privacy-policy">
                <FinePrint
                    text="Privacy Policy"
                />
            </a>
            <a href="/terms-of-service">
                <FinePrint
                    text="Terms of Service"
                />
            </a>
        </div>
    </div>
</footer>
