---
import { FOOTER } from "../../content/footer"
---
<footer class="bg-zinc-200">
    <div class="py-20 max-w-7xl mx-auto container grid grid-cols-5 gap-4">
        <div class="col-span-2">
            More than 97% of B2B companies use marketing strategies and websites built for B2C. That’s why they don’t see the value and ROI even after doing everything. B2B marketing & website are different, this is what Openthrive solves. Interested?
        </div>
        {

            FOOTER.links.map( ( item ) => {

                return (
                    <div class="grid">
                        <h6>{ item.heading }</h6>
                        <div class="grid gap-2 mt-4">
                        {

                            item.links.map( ( link ) => {

                                return (

                                    <div>{ link.text }</div>

                                )

                            })

                        }
                        </div>
                    </div>
                )

            })

        }
    </div>
</footer>
