<footer class="bg-zinc-200">
    <div class="py-20 max-w-7xl mx-auto container grid grid-cols-5 gap-4">
        <div class="col-span-2">
            More than 97% of B2B companies use marketing strategies and websites built for B2C. That’s why they don’t see the value and ROI even after doing everything. B2B marketing & website are different, this is what Openthrive solves. Interested?
        </div>
        <div>
            Agency Services
        </div>
        <div>
            Company Info
        </div>
        <div>
            Get Started
        </div>
    </div>
</footer>