@font-face {

    font-family: 'LeifaBold';
    src: url('https://blupp.b-cdn.net/openthrive/leifa-extrabold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}
